h1 #point{
    color:#53b397;
}
h1 {
    color:white;
    font-size: 1.2em;
}
#icone{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}

body{
    background-color: #041821 ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #455761;    
}
a {
    color:white
}
#Hello{
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 10%;
}
#créative{
    color: #1fd69e;
}
